-# coding: utf-8
#background

#credits
  %a{:href => "http://500px.com/photo/#{@background['id']}"}
    ©
    = @background['user']['fullname']

#header
  - if @config.get(:rpx)
    %a#signin{:href => "https://#{@config.get(:rpx)[:realm]}.rpxnow.com/openid/embed?token_url=" + URI.escape(host + "/signin")}
      Sign In
  %a#edit{:href => "#"} Edit commands
  %a#settings{:href => "#"} Settings
  %a#help{:href => "#"} Help
  %a{:id => :signout, :href => '#'} Sign Out

%form{:id => :commandline}
  %input{:type => :text, :id => :input, :name => :input}
  #question
    %label#label Question
    %input{:type => :text, :id => :answer, :name => :answer}
:css

  #background {
    background-image: url(/images/#{@background['id']}.jpg);
  }

:javascript

  // Globals
  Command.data = #{@commands.to_json};
  Settings = #{@settings.to_json};

  window.addEvent('domready', function() {
    Application.init();
    Command.init();
  });
